*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  border: none;
}

input {
  font-family: inherit;
}
/* HEADER */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
}

.container.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list-container {
  display: flex;
  gap: 40px;
}

.logo-header {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  padding: 24px 0;
}

.logo-header-black {
  color: #2e2f42;
}

.navigation-a {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-a:hover,
.navigation-a:focus,
.header-address-a:hover,
.header-address-a:focus {
  color: #404bbf;
}

.nav-list-container li:first-child a {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-container li:first-child a::after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  bottom: -1px;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-a {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN */

.section.hero-section {
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.hero-h {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.container.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.hero-button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* прозорий чорний колір */
  z-index: 1;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 3;
}

.capabilities-container,
.team-container {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.capabilities-list {
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon-capabilities {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 24px 100px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.capabilities-list-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.capabilities-list-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-right: 24px;
}

.capabilities-list:last-child,
.team-list:last-child {
  margin-right: 0;
}
.team-name-work {
  padding: 32px 0;
}
.team-list-h {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-media-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  flex-shrink: 0;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-media-list-item:hover,
.team-media-list-item:focus {
  background-color: #404bbf;
}

.icon-team {
  fill: #f4f4fd;
}

.section.team-section {
  background-color: #f4f4fd;
}

.team-h,
.portfolio-h {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list {
  display: flex;
  width: calc((100% - 48px) / 3);
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .overlay {
  transform: translateY(0%);
}

.portfolio-list:hover,
.portfolio-list:focus {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-name-category {
  width: 360px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  flex-shrink: 0;
}
.portfolio-list-h {
  margin-bottom: 8px;
}

.portfolio-list-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-container {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.logo-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-white {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.media-container {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.media-h {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-media-list {
  display: flex;
  gap: 16px;
}

.footer-media-li {
  width: 40px;
  height: 40px;
}

.footer-media-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-list-item:hover,
.footer-media-list-item:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}
.subscribe-form {
  display: flex;
}

.subscribe-p {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 16px;
}

input[type='email'] {
  background-color: #2e2f42;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 24px;
}

input[type='email']::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.email-container {
  display: flex;
  flex-direction: column;
}
.email-button-container {
  display: flex;
}

button[type='submit'] {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: #4d5ae5;
  cursor: pointer;
}

.subscribe-footer {
  fill: white;
}
